body{
    font-family: 'Times New Roman', Times, serif
}
#go{
    
}
th{
    background-color: green;
    color: floralwhite;
}
.impar{
    background-color: tomato;
    color: black;
}
.par{
    background-color: blue;
    color: white;
}
td{
    background-color: rgb(0, 35, 230);
    color: white;
}
#div1{
    background: blueviolet;
    width: 500px;
    padding: 20px;
    color: white;
    border-radius: 15px;
    align-content: right;
    display: grid;
}
.saila{
    text-align: center;
    margin: 250px
}